@{
    Layout = null; 
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>UNAVOIDABLE</title>
        @*<link rel="stylesheet" href="/Content/BaseStyle.css"/>*@
        <link rel="stylesheet" href="~/styles/BaseStyle.css"/>
    </head>
    <body>

    </body>
</html>