@{
    Layout = null; 
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>UNAVOIDABLE</title>
        @*<link rel="stylesheet" href="/Content/BaseStyle.css"/>*@
        <link rel="stylesheet" href="~/styles/BaseStyle.css"/>
    </head>
    <body>
        <div class=""></div>

        <ul class="navbar">
            <li><a href="#Home">Home</a></li>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Home">Home</a></li>
        </ul>
    </body>
</html>