@{
    Layout = null; 
}

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>UNAVOIDABLE</title>
        @*<link rel="stylesheet" href="/Content/BaseStyle.css"/>*@
        <link rel="stylesheet" href="~/styles/BaseStyle.css"/>
    </head>
    <body>
        <div class="top">
            <div class="menu">

                @*<a class="btn" asp-action="MainMenu_Click">A</a>*@
            </div>
            <input class="searchbar" type="text" placeholder="SEARCH">
        </div>
        <div class="content">
            <div class="buttonContainer">
                <a class="btn btn-primary" asp-action="LibraryData">Get Data</a>
            </div>
        </div>
    </body>
</html>

@{

}