@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_ViewImports"; 
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UNAVOIDABLE</title>
    <link rel="stylesheet" href="~/lib/bootstrap.css" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</head>
<body class="bg-body">
    <div class="content">
        <div class="DataGridContainer">
        </div>
        <div class="buttonContainer">
            <a itemid="id" class="btn btn-outline-primary m-2" style="width:115px;height:80px;" asp-action="LibraryData">
                <div><img src="~/images/open-book.png" style="width:45px;height:45px;" /></div>
                Библиотека
            </a>
            <a class="btn btn-outline-primary m-2" style="width:115px;height:80px;" asp-action="GetCharts">
                <div><img src="~/images/graph-svgrepo-com.svg" style="width:45px;height:45px;" /></div>
                Сводка
            </a>
            <a class="btn btn-danger btn-outline-danger disabled m-2" style="width:115px;height:80px;" asp-action="Get1C">
                <div><img src="~/images/file-upload.png" style="width:45px;height:45px;" /></div>
                1C экспорт
            </a>
            <a class="btn btn-outline-dark m-2" style="width:115px;height:80px;" asp-action="GetDBConnect">Кнопка</a>
            <a class="btn btn-outline-dark m-2" style="width:115px;height:80px;" asp-action="DownloadToDB">Кнопка</a>
        </div>
    </div>
</body>
</html>


<div id="chartContainer">
    ???
</div>

<script type="text/javascript">

    window.onload = function () {

        var dataPoints = [];

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            animationEnabled: true,
            zoomEnabled: true,
            title: {
                text: "Тестовый график"
            },
            axisX: {
                titleFontSize: 24,
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                },
            },
            data: [{
                type: "column",
                xValueFormatString: "MMM DD YYYY",
                dataPoints: dataPoints
            }]
        });

        function addData(data) {
            for (var i = 0; i < data.length; i++) {
                dataPoints.push({
                    x: new Date(data[i].x),
                    y: data[i].y
                });
            }
            chart.render();

        }

        $.getJSON("home/json", addData);

    }
</script>